:root {
    --color-accent-hue: 270;
    --color-main-0: hsl(var(--color-accent-hue), 50%, 75%);
    --color-main-1: hsl(var(--color-accent-hue), 50%, 70%);
    --color-main-2: hsl(var(--color-accent-hue), 50%, 65%);
    --color-main-3: hsl(var(--color-accent-hue), 50%, 60%);
    --color-main-4: hsl(var(--color-accent-hue), 50%, 55%);
    --color-main-5: hsl(var(--color-accent-hue), 50%, 50%);
    --color-main-6: hsl(var(--color-accent-hue), 50%, 45%);
    --color-main-7: hsl(var(--color-accent-hue), 50%, 30%);
    --color-main-8: hsl(var(--color-accent-hue), 50%, 15%);
    --color-main-9: hsl(var(--color-accent-hue), 50%, 5%);

    --color-white-0: hsl(0, 0%, 100%);
    --color-white-1: hsl(0, 0%, 95%);
    --color-white-2: hsl(0, 0%, 90%);
    --color-white-3: hsl(0, 0%, 85%);
    --color-white-4: hsl(0, 0%, 80%);
    --color-white-5: hsl(0, 0%, 75%);
    --color-white-6: hsl(0, 0%, 70%);
    --color-white-7: hsl(0, 0%, 65%);
    --color-white-8: hsl(0, 0%, 60%);
    --color-white-9: hsl(0, 0%, 50%);

    --color-black-0: hsl(0, 0%, 0%);
    --color-black-1: hsl(0, 0%, 5%);
    --color-black-2: hsl(0, 0%, 10%);
    --color-black-3: hsl(0, 0%, 15%);
    --color-black-4: hsl(0, 0%, 20%);
    --color-black-5: hsl(0, 0%, 25%);
    --color-black-6: hsl(0, 0%, 30%);
    --color-black-7: hsl(0, 0%, 35%);
    --color-black-8: hsl(0, 0%, 40%);
    --color-black-9: hsl(0, 0%, 45%);

    --size-0: 0.1dvh;
    --size-1: 0.2dvh;
    --size-2: 0.4dvh;
    --size-3: 1.2dvh;
    --size-4: 1.6dvh;
    --size-5: 2.4dvh;
    --size-9: 4.0dvh;

    --color-bg: var(--color-main-3);
    --padding: var(--size-4);
    --padding-thin: var(--size-3);
    --padding-thick: var(--size-5);

    --shadow-box: 4px 4px 4px var(--color-black-5);
    --shadow-box-thin: 2px 2px 2px hsl(0, 0%, 0%, 0.25);
    --shadow-box-thick: 8px 8px 8px hsl(0, 0%, 0%, 1.0);

    --shadow-text: 4px 4px 4px var(--color-black-5);
}